<img class="logo" src="<%= @team.logo %>">

<h1>Edit <%= @team.name %></h1>

<form method="POST" action="/teams/<%= @team.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <table>
        <tr>
            <td>Location: </td>
            <td><input type="text" name="location" value="<%= @team.location %>"></td>
        </tr>
        <tr>
            <td>Team Name: </td>
            <td><input type="text" name="name" value="<%= @team.name %>"></td>
        </tr>
        <tr>
            <td>Slogan:</td>
            <td><input type="text" name="slogan" value="<%= @team.slogan %>"></td>
        </tr>
    </table><br>

    <%= erb :"players/availabe_players" %><br>

    <input type="submit" name="button" value="EDIT"><br><br>
</form>

<h3>-- OR --</h3><br>
    
<form method="POST" action="/teams/<%= @team.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="submit" name="button" value="DELETE">
</form>
<br><br>