<h2>ADOPT A TEAM:</h2>

<form method="POST" action="/teams/new">
    
    <table>
        <tr>
            <td>Select Team:</td>
            <td><select name="id">
                <option value="invalid">-- SELECT TEAM --</option>
                <% @available_teams.each do |team| %>
                    <option value=<%= team.id %>><%= team.location %> <%= team.name %></option>
                <% end %><br>
            </select></td>
        </tr>
        
        <tr>
            <td>Add Slogan: </td>  
            <td><input type="text" name="slogan"></label></td>
        </tr>
    </table>
    
    <%= erb :"players/availabe_players" %><br>

    <input type="submit" name="button" value="Adopt Team"><br>

</form><br><br>

<h2> -- OR -- </h2><br>

<h2>CREATE TEAM FROM SCRATCH:</h2>
<form method="POST" action="/teams/new">
    <table>
        <tr><td>Name: </td>  <td><input type="text" name="name"></td></tr>
        <tr><td>Location: </td>  <td><input type="text" name="location"></td></tr>
        <tr><td>Slogan: </td>  <td><input type="text" name="slogan"></td></tr>
    </table>
    
    <%= erb :"players/availabe_players" %><br>

    <input type="submit" name="button" value="Create from Scratch"><br><br>

</form><br>

